﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MyImdb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background-color: #ede3c0">
    <header>
        <nav class="bg-dark">
			<div class="container p-2">
				<div class="d-flex flex-row">
					<a style="text-align:start" asp-area="" asp-controller="Home" asp-action="Index"><img style="padding-top:12px" width="150" height="70" src="~/logo/IMDB_Logo_2016.svg" /></a>
					<div class="d-flex flex-column">
						<form class="form-inline" style="padding-top:12px">
							<div class="input-group">
								<input type="search" class="form-control" placeholder="Search" />
								<div class="input-group-prepend">
									<button type="button" class="btn btn-light">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</form>
						<ul class="navbar-nav flex-row">
							<li class="nav-item" style="padding-right: 10px">
								<a class="nav-link text-light" asp-area="" asp-controller="Movie" asp-action="Index">Movies   </a>
							</li>
							<li class="nav-item" style="padding-right: 10px">
								<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Genre   </a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Actors   </a>
							</li>
						</ul>
					</div>
				</div>
				</div>
        </nav>
    </header>
    <div class="container bg-white" style="min-height: 818px;">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
    </div>

    <footer class="border-top footer text-muted bg-light" style="margin:auto">
        <div class="container" style="text-align: end;">
            &copy; 2021 - MyImdb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
