﻿@model MyImdb.ViewModels.MovieCreateViewModel

@{
    ViewData["Title"] = "Add Movie";
}

<h1>Add Movie</h1>
<p>Please fill the movie data to add a new movie</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rank" class="control-label"></label>
                <input asp-for="Rank" class="form-control" />
                <span asp-validation-for="Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryLine" class="control-label"></label>
                <textarea asp-for="StoryLine" rows="4" cols="50" class="form-control"></textarea>
                <span asp-validation-for="StoryLine" class="text-danger"></span>
            </div>
			<div class="form-group">
				<button type="submit" class="btn btn-warning">
					<i class="fa fa-check"></i>
                    Save
				</button>
			</div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i style="margin-left:5px" class="fa fa-arrow-left"></i> Back to Movies</a>
</div>

