﻿@using MyImdb.ViewModels
@model List<MovieListViewModel>
@{
	ViewData["Title"] = "Movies";
}
<!DOCTYPEhtml>
    <html>
    <head>
        <metaname ="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            @if (ViewBag.Message != null)
			{
                <div class="alert alert-info">
                    <p>@ViewBag.Message</p>
                </div>
			}
		    <h1 class="display-4">Movies of the Month</h1>
            <br />
            <table class="table table-striped">
				<tr>
					<th>Title</th>
					<th>Rank</th>
					<th>Year</th>
				</tr>
                @foreach (var movie in Model)
                {
			    <tr>
				    <td>@movie.Title</td>
				    <td>@movie.Rank</td>
				    <td>@movie.Year</td>
			    </tr>
                }


            </table>
			<br />
			<button class="btn btn-secondary">
				<a class="nav-link text-light" asp-area="" asp-controller="Movie" asp-action="Create">Add Movie  <i style="margin-left:5px" class="fa fa-plus"></i> </a>
			</button>

            <br />
			<p>Click <a  asp-area="" asp-controller="Movie" asp-action="MovieOfTheMonth">here </a> to check out the movie of the month</p>
        </div>
    </body>
</html>
