﻿@using MyImdb.Entities
@model Movie
@{
}
<!DOCTYPEhtml>
	<html>
	<head>
		<metaname ="viewport" content="width=device-width" />
		<title>Index</title>
	</head>
	<body>
		<h1>Movie of the Month</h1>
		<div class="d-flex flex-row" style="background-color: lightgrey; width: 900px; height: 400px">
			<div class="d-flex" style="background-color: grey; width: 350px; height: 370px; margin-left: 10px; margin-right:auto; margin-bottom:auto; margin-top:auto; align-items : center; justify-content:center">
				<i class="fa fa-video-camera fa-5x"></i>
			</div>
			<div style="margin: auto">
				<h4>@Model.Title</h4>
				<p><b>Rank:</b> @Model.Rank</p>
				<p><b>Year:</b> @Model.Year</p>
				<p>@Model.Storyline</p>
				<button type="button" class="btn btn-light">Watch Trailer</button>
				<button type="button" class="btn btn-light">Add to Watchlist</button>
			</div>
		</div>
		<br />
		<div>
			<a asp-action="Index"><i style="margin-left:5px" class="fa fa-arrow-left"></i> Back to Movies</a>
		</div>
	</body>
</html>
