﻿@using MyImdb.ViewModels
@model List<MovieListViewModel>
@{

}

<div class="d-flex">
	<div class="d-flex flex-column">
		<h1 class="display-4">Movies of the Month</h1>
		<br />
		<div class="d-flex flex-row">

			@foreach (var movie in Model)
			{
				<div class="d-flex flex-column">
					<div class="d-flex" style="background-color: lightgrey; width: 240px; height: 370px; margin-left: 10px; margin-right:auto; margin-bottom:auto; margin-top:auto; align-items : center; justify-content:center">
						<i class="fa fa-video-camera fa-5x"></i>
					</div>
					<div style="background-color:grey; color:white; padding:10px; text-align:center; margin-left: 10px; margin-right:auto; margin-bottom:auto; margin-top:auto; width: 240px;">
						<b>@movie.Title</b>
					</div>
				</div>
			}
		</div>
		<a class="nav-link" asp-area="" asp-controller="Movie" asp-action="Index">See the complete list <i class="fa fa-arrow-right"></i>  </a>
	</div>
	<div class="d-flex flex-column" style="padding-top: 25px;padding-left: 14px; margin-left: 30px; width:100%; background-color: lightgray; height: 700px; margin-top: -60px; margin-right: -15px;">
		<h4>Opening this Week</h4>
		<ul>
			<li style="margin-bottom: 10px">Beauty and the Beast</li>
			<li style="margin-bottom: 10px">Herbe</li>
			<li style="margin-bottom: 10px">Avengers</li>
			<li style="margin-bottom: 10px">Dark</li>
			<li style="margin-bottom: 10px">12 Monkeys</li>

		</ul>
		<a class="nav-link" asp-area="" asp-controller="Movie" asp-action="Index">See more opening this week <i class="fa fa-arrow-right"></i>  </a>
		<hr>
		<h4>Comming Soon</h4>
		<ul >
			<li style="margin-bottom: 10px">2012</li>
			<li style="margin-bottom: 10px">Se7en</li>
			<li style="margin-bottom: 10px">Avengers 2</li>
			<li style="margin-bottom: 10px">Michael Jordan</li>
			<li style="margin-bottom: 10px">Discord</li>

		</ul>
		<a class="nav-link" asp-area="" asp-controller="Movie" asp-action="Index">See more coming soon <i class="fa fa-arrow-right"></i>  </a>
	</div>

</div>
